.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-color: lightblue;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto;

  padding: 10px 30px;
}

.title {
  width: 50%;
  padding: 10px 20px;
}

.title__inner {
  width: 250px;
  border-radius: 10px;
  padding: 0 10px;
  background-color: white;
}

.menu {
  width: 50%;
  margin: auto 0;
  text-align: end;
  padding: 10px 20px;
}

.menu__list {
  list-style: none;
}

.menu__list > li {
  margin: 5px 0;
}

.main {
  background-color: lightblue;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto;

  padding: 10px 30px;
}

.left {
  background-color: lightcoral;
  width: 25%;
  padding: 10px 20px;
}

.top {
  background-color: lightgreen;
  width: 75%;
  text-align: end;
}

.right {
  width: 75%;
  margin: auto 0;
}

.center-left {
  background-color: white;
  width: 50%;
  padding: 10px 20px;
}

.center-right {
  background-color: lightcoral;
  width: 25px;
  padding: 10px 20px;
}

.footer {
  background-color: lightblue;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto;
}

.description {
  width: 50%;
  padding: 10px 20px;
}

.subtitle {
  width: 50%;
  padding: 10px 20px;
}

.subtitle__inner {
  width: 150px;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  float: right;
}
